body {
    color: #aaaaaa;
    background-image: url('../images/bg.jpg');
    background-attachment: fixed;
    　　background-repeat: no-repeat;
    background-size: cover;
}

a {
    color: #FFFFFF;
}

a:hover {
    color: #ECCB7C;
}

.layui-table td a {
    color: #5f5f5f;
}

.layui-timeline-title {
    color: #c9cccf !important;
}

.layui-btn {
    background-color: #E1B64D !important;
    color: #fff;
    border: 1px solid #E1B64D !important;
    border-radius: 6px !important;
}

.layui-textarea {
    height: 65px !important;
    min-height: 65px !important;
}


/*顶部左侧菜单 距左*/
.nav_menu {
    margin-left: 330px;

}

.layui-header {
    height: 84px;
    line-height: 84px;
}

/*顶部连接*/
.layui-nav-item {
    height: 84px !important;
    line-height: 84px !important;

}

.layui-nav .layui-nav-item a {
    color: #c9c9dc !important;
    font-weight: 200;
    font-size: 18px;
    text-align: center;
}

.layui-nav .layui-nav-item a:hover {
    color: #e4b653 !important;
}

.layui-nav-item:hover {
    background: linear-gradient(rgba(34, 34, 34, 0.3), rgba(227, 181, 89, 0.25))
}

.layui-nav .layui-this:after, .layui-nav-bar {
    background-color: #F2C15F;
}


.layui-layout-right .layui-nav-item a {
    font-size: 16px;
    color: #FFFFFF !important;
}


.layui-nav-img {
    width: 44px;
    height: 44px;
}


/*下拉菜单 颜色*/
.layui-nav .layui-nav-child a {
    color: #333 !important;
}

.layui-nav .layui-nav-child a:hover {
    background-color: #f2f2f2;
    color: #333 !important;
}

/*顶部 */
.layui-layout-admin .layui-header {
    background: rgba(34, 34, 34, 0.7) !important;
    display: flex; /*设为 Flex 布局以后，子元素的float、clear和vertical-align属性将失效*/
    display: -webkit-flex; /* Safari */
    flex-direction: column; /*容器内项目的排列方向(默认横向排列 row)*/
    flex-wrap: nowrap; /*容器内项目换行方式*/
    align-items: center; /*项目在交叉轴上如何对齐*/
    align-content: center; /*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/
}

.search_list {
    display: flex; /*设为 Flex 布局以后，子元素的float、clear和vertical-align属性将失效*/
    display: -webkit-flex; /* Safari */
    flex-direction: column; /*容器内项目的排列方向(默认横向排列 row)*/
    flex-wrap: nowrap; /*容器内项目换行方式*/
    align-items: center; /*项目在交叉轴上如何对齐*/
    align-content: center; /*定义了多根轴线的对齐方式。如果项目只有一根轴线，该属性不起作用*/

}

/*底部颜色*/
.bottom_box {


    background-color: #151515;
    padding: 10px 0;
    color: #7b7b7b;
    text-align: center;
    line-height: 30px;


    position: fixed;
    left: 0px;
    right: 0;
    bottom: 0;
    font-weight: bold;
    z-index: 9999999;


}

.bottom_box a {
    color: #fff
}

.bottom_box a:hover {
    color: #fff
}


.logo_img {

    position: absolute;
    top: 15px;


}

.logo_text {
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    width: 350px;
    height: 100%;

    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #ECCB7C;

    margin-left: 60px;

    overflow: hidden;
    white-space: nowrap;
}


/*移动弹出菜单*/
.nav_mobi {
    float: right;
    margin-right: 50px
}

.layout_page {
    padding-left: 12%;
    padding-right: 12%;
    margin-bottom: 150px;

}

/*轮播*/

.carousel_images {


    padding-top: 60px;

}

.carousel_images img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 30%);
}


/* 文字面板*/


.textlink_ul_index li {
    line-height: 30px;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    list-style: inside;
    color: #FFFFFF;

}

.textlink_ul_index li a {
    color: #FFFFFF;
}

.textlink_ul_index li a:hover {
    color: #ECCB7C;
}

.textlink_ul_index li span {
    float: right
}

.textlink_ul_index_title {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    color: yellow
}


/*文字连接*/

.textlink_ul {

}

.textlink_ul li {
    line-height: 55px;
}

.textlink_ul li span {
    float: right
}


.pic_ul_css {
    position: relative;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    text-align: center;
}

.pic_ul_css li {
    text-align: center;
    color: #24292e;
    cursor: pointer;


    position: relative;
    overflow: hidden;
    z-index: 9;
    bottom: 0;
    margin-bottom: 30px;

    border-radius: 6px;
    padding-top: 10px;


}

.pic_ul_css li img {
    width: 290px;

    height: 160px;
    border-radius: 6px;
    /*
     padding-top: 10px;
     */
    box-shadow: 0 0 10px #F2C15F; /*向元素的四周分别添加10像素大小的红色阴影*/

}

.pic_ul_css li:hover img, .pic_ul_css li:focus img {
    -webkot-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(2.2);
    transition: 1.3s;

}

.pic_ul_css li span {
    z-index: 999;

    display: block;
    font-size: 16px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 0 40px;
    text-align: center;
}

.page_body_box {
    padding-top: 150px;
    padding-bottom: 50px;
    text-align: center;

    padding-left: 12%;
    padding-right: 12%;
}

.page_body_box span {

    color: #FFFFFF;
    font-size: 30px;
    margin-bottom: 30px;
    font-weight: bold;
    border-bottom: 1px solid #262626;
    padding-bottom: 20px;

}


@media ( max-width: 768px) {

    .nav {
        position: static
    }

    body {
        padding-top: 0
    }


}

.container {
    max-width: 1200px;
    padding: 0 20px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
}

.page_body_content {
    text-indent: 25px;
    padding: 20px;
}


/*详情页副标题*/

.title2 {
    text-align: center;
    font-size: 18px;
    color: #c9cccf;
}


code {
    background: #ddd;
    padding: 5px;
    line-height: 1.4;
    font-size: 12px;
    border: 1px solid #aaa;
    font-family: Source Code Pro, monospace;
    display: block
}


h1, h2, h3, h4, h5 {
    font-family: Permanent Marker, cursive
}

.layui_form_web {
    width: 50%;
    margin: 0 auto;
}

.layui_form_web .layui-form-label {
    width: 100px !important;
    font-weight: 400;
}

.layui_form_web .layui-input-inline {
    margin-left: 10px;
}

.layui_form_web .layui-input-block {
    margin-left: 130px !important;;
}


.layui_form_web .layui-input-block .layui-btn {
    margin-left: 8% !important;
    width: 60% !important;
}


.content img, .page_body_content img, .contents_box img, .container img {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.container video, .page_body_content video, .contents_box video, .container video {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/*滚动条样式*/
::-webkit-scrollbar-track-piece {
    width: 6px;
    background: #F5F5F5;
    border: 0;
    border-radius: 3px;

}

::-webkit-scrollbar {
    width: 6px;
    height: 6px; /*此值会引起select下拉后有个边  6px不会有,但6px有横向拉动时太低了,鼠标不好点*/
    border: 0;
    background: #F5F5F5;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border: 0;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999
}

